{{define "vmware.esxlog.vpxa" -}}
{{.Pri}}{{.ISODateTime}} {{.Host}} Vpxa: verbose vpxa[{{.PID}}] [Originator@6876 sub=VpxaCnxHostd opID=WFU-34799d2d] FetchingUpdatesDone callback, time for waiting responce from HOSTD 2373 ms
{{- end}}
