name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: '.go-version'

    - name: Build
      run: make GOFLAGS="-v" build

    - name: Test
      run: make GOFLAGS="-v" test

    - name: Check diff
      run: make check-diff

  license-check:
    name: License check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: '.go-version'

      - name: Cache licenses
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: licensei-v2-${{ hashFiles('go.sum') }}
          path: |
            .licensei.cache
          restore-keys: |
            licensei-v2

      - name: Download license information for dependencies
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: make license-cache

      - name: Check licenses
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: make license-check

  artifacts:
    name: Artifacts
    uses: kube-logging/logging-operator/.github/workflows/artifacts.yaml@6.3.2
    with:
      version: "latest"
      publish: ${{ github.event_name == 'push' }}
    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write
